# Godot 4+ specific ignores
*.pem
.godot/
/android/
.DS_Store
/builds/
export_presets.cfg

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/crash.log

# mise local overrides
mise.local.toml
